NODE_ENV=development
ENV_CONFIG_PATH=.env.development.local
PORT=3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=<your-username>
POSTGRES_PASSWORD=<your-password>
POSTGRES_DB=db_local
JWT_SECRET=<your-secret>
JWT_ACCESS_TOKEN_EXPIRES_IN=5m
JWT_REFRESH_TOKEN_EXPIRES_IN=10m
PASSWORD_RESET_EMAIL_EXPIRES_IN=30000
SALT_ROUNDS=10
OTP_EXPIRES_IN=5m
COOKIE_MAX_AGE=300000
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=587
NODEMAILER_USERNAME=<my.email@gmail.com>
NODEMAILER_PASSWORD=<my-email-password>
CLIENT_URL=http://localhost:5173
